body {
  background-color: #f8e8a6;
  margin: 15px;
}

h1,
p {
  text-align: center;
}

a {
  color: green;
  text-decoration: underline;
}

img {
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: 600px;
}
